Repository blissfuljuan/csit327-it342-git-playground, pull requests merged in 2025-08, with the labels that each got.

#58 docs: update IT342-CONTRIBUTORS – Sepulveda, Kyle
  G1-CONTRIBUTORS.md
  IT342-CONTRIBUTORS.md
  students/SEPULVEDA-KYLE-bio.md
Labels: IT342-G01

#61 docs: update IT342-CONTRIBUTORS – Abadiano, Kent Dominic
  IT342-CONTRIBUTORS.md
  students/Abadiano-KentDominic-bio.md
Labels: IT342-G01

#63 docs: update IT342–CONTRIBUTORS - Cantiller, Christian Jayson
  IT342-CONTRIBUTORS.md
  students/CANTILLER-CHRISTIANJAYSON-bio.md
Labels: IT342-G01

#62 docs: update IT342-CONTRIBUTORS – Carao, Estelle Felicity
  IT342-CONTRIBUTORS.md
  students/CARAO-ESTELLEFELICITY-bio.md
Labels: IT342-G01

#70 docs: update IT342-CONTRIBUTOR – Lo, Joshua Noel
  IT342-CONTRIBUTORS.md
  students/LO-JOSHUANOEL-bio.md
Labels: IT342-G01

#74 docs: update IT342-CONTRIBUTORS – Oswa, Yusuf Bin Mohammad Ali
  IT342-CONTRIBUTORS.md
  students/Oswa-Yusuf-bio.md
Labels: IT342-G01

#108 docs: update IT342-CONTRIBUTORS - Jumawan, Clyde Nixon
  IT342-CONTRIBUTORS.md
  students/Jumawan-ClydeNixon-bio.md
Labels: IT342-G02

#98 docs update: IT342-CONTRIBUTE- Caranzo, Mac Howard
  IT342-CONTRIBUTORS.md
  students/CARANZO-MACHOWARD-bio.md
Labels: IT342-G01

#107 docs update: IT342-CONTRIBUTORS - Tabungar, Steven Jan
  IT342-CONTRIBUTORS.md
  students/Tabungar-StevenJan-bio.md
Labels: IT342-G02

#117 docs: update IT342-CONTRIBUTORS - Verano, Joel
  IT342-CONTRIBUTORS.md
  students/verano-joel-bio.md
Labels: IT342-G02

#3 docs: update README – Estrera , Michaela
  G1-CONTRIBUTORS.md
  students/ESTRERA-MICHAELA-bio.md
Labels: CSIT327-G1

#5 docs: update README – Abel, Zydric
  G1-CONTRIBUTORS.md
  students/abel-zydric-bio.md
Labels: CSIT327-G1
